.container {
    background-color: #232129;
    flex: 1;
}

.containerInput {
    margin-top: 200px;
}

.input {
    background-color: #FFF;
    height: 40px;    
    display: flex;
    justify-content: center;
    align-items: center;
}